
Notebooks/Unary Phasediagrams/.ipynb_checkpoints/1. Phase Diagram of Water-checkpoint.ipynb
Notebooks/Unary Phasediagrams/.ipynb_checkpoints/2. Phase Diagram of Copper-checkpoint.ipynb
Notebooks/.DS_Store
.DS_Store
1. Unary Phasediagrams/.ipynb_checkpoints/1. Phase Diagram of Water-checkpoint.ipynb
1. Unary Phasediagrams/.ipynb_checkpoints/2. Phase Diagram of Copper-checkpoint.ipynb
1. Unary Phasediagrams/.ipynb_checkpoints/1.1 Phase Diagram of Water-checkpoint.ipynb
1. Unary Phasediagrams/.ipynb_checkpoints/1.1.Phase Diagram of Water-checkpoint.ipynb
1. Unary Phasediagrams/.ipynb_checkpoints/1.2 Phase Diagram of Copper-checkpoint.ipynb
2. Binary Phasediagrams/.ipynb_checkpoints/3. Construction of Eutectic Phase Diagram-checkpoint.ipynb
2. Binary Phasediagrams/.ipynb_checkpoints/3. Construction of Binary Phase Diagram for Miscible Alloys-checkpoint.ipynb
2. Binary Phasediagrams/.ipynb_checkpoints/1. Regular Solution Model-checkpoint.ipynb
2. Binary Phasediagrams/.ipynb_checkpoints/2. Regular Solution Model Spinodal-checkpoint.ipynb
